/*!
  Path 2.0 Flyout Menu using CSS
  Contributed to Path by Tunghsiao Liu
  sparanoid.com
*/
/*!
*/
/* line 9, /Users/sparanoid/Git/path-menu/assets/less/main.less */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 11, /Users/sparanoid/Git/path-menu/assets/less/main.less */
:root {
  padding: 60px;
  background: #f9f4f0;
  font-family: Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
/* line 60, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield {
  width: 210px;
  margin: 0 auto;
}
/* line 64, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield h1 {
  background: #f1e7de;
  border-radius: 3px;
  border: 1px solid #d3bfae;
  padding: 7px 10px;
  margin: 20px 0 10px;
  font-size: 12px;
  line-height: 1.6;
  color: rgba(109, 73, 42, 0.8);
  text-shadow: #fff 0 1px 1px;
  box-shadow: inset #fff 0 1px 0 0;
}
/* line 76, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield h1 a {
  color: #6d492a;
  border-bottom: 1px dotted #d3bfae;
}
/* line 79, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield h1 a:hover {
  border-color: #6d492a;
}
/* line 84, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap {
  height: 191px;
  position: relative;
}
/* line 87, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout {
  position: relative;
  margin: 0 0 1px 6px;
  line-height: 0;
}
/* line 91, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li {
  position: absolute;
  background: yellow;
  height: 170px;
  display: block;
  -webkit-transform-origin: 12.5px bottom;
  -moz-transform-origin: 12.5px bottom;
  transform-origin: 12.5px bottom;
}
/* line 99, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 100, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(2) {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
/* line 101, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(3) {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
/* line 102, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(4) {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
/* line 103, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(5) {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
/* line 104, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li:nth-of-type(6) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 105, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li a {
  position: absolute;
  display: block;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.5) 0 0 2px 0;
  text-indent: -99999px;
  overflow: hidden;
  background: #444;
  -webkit-backface-visibility: hidden;
}
/* line 117, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li a:active {
  background: #000;
  border-color: #555;
}
/* line 120, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li a:active span {
  opacity: .3;
}
/* line 124, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout > li a span {
  display: block;
  height: 26px;
  width: 26px;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'><path fill='#fff' d='M11.045,9.879l1.906,6.114l-4.949-3.791L3.059,16l1.9-6.117L0,6.114l6.123,0.013L7.998,0l1.879,6.12L16,6.104L11.045,9.879z'/></svg>") no-repeat center center;
  background-size: 16px 16px;
}
/* line 139, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout-init li {
  display: none;
}
/* line 140, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li a {
  -webkit-animation: expand 0.6s ease 1 backwards;
  -moz-animation: expand 0.6s ease 1 backwards;
  -ms-animation: expand 0.6s ease 1 backwards;
  -o-animation: expand 0.6s ease 1 backwards;
  animation: expand 0.6s ease 1 backwards;
  top: 10px;
}
/* line 141, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li a {
  -webkit-animation: contract 0.35s ease-out 1 backwards;
  -moz-animation: contract 0.35s ease-out 1 backwards;
  -ms-animation: contract 0.35s ease-out 1 backwards;
  -o-animation: contract 0.35s ease-out 1 backwards;
  animation: contract 0.35s ease-out 1 backwards;
  top: 150px;
}
/* line 142, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li a.clicked {
  -webkit-animation: clicked 0.5s ease-out 1 forwards;
  -moz-animation: clicked 0.5s ease-out 1 forwards;
  -ms-animation: clicked 0.5s ease-out 1 forwards;
  -o-animation: clicked 0.5s ease-out 1 forwards;
  animation: clicked 0.5s ease-out 1 forwards;
  top: 10px;
}
/* line 143, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) {
  -webkit-animation: fade 0.5s ease-out 1 forwards;
  -moz-animation: fade 0.5s ease-out 1 forwards;
  -ms-animation: fade 0.5s ease-out 1 forwards;
  -o-animation: fade 0.5s ease-out 1 forwards;
  animation: fade 0.5s ease-out 1 forwards;
  top: 10px;
}
/* line 144, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) span {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: .1;
}
/* line 147, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) span {
  opacity: .1;
  -webkit-transition: opacity 1.5s ease;
}
/* line 148, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(1) a {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 149, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(2) a {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
/* line 150, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(3) a {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
/* line 151, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(4) a {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
/* line 152, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(5) a {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
/* line 153, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(6) a {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 154, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(1) a:not(.clicked) span {
  -webkit-animation: spin1-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin1-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin1-contract 0.9s ease-out 1 backwards;
  -o-animation: spin1-contract 0.9s ease-out 1 backwards;
  animation: spin1-contract 0.9s ease-out 1 backwards;
}
/* line 155, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(2) a:not(.clicked) span {
  -webkit-animation: spin2-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin2-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin2-contract 0.9s ease-out 1 backwards;
  -o-animation: spin2-contract 0.9s ease-out 1 backwards;
  animation: spin2-contract 0.9s ease-out 1 backwards;
}
/* line 156, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(3) a:not(.clicked) span {
  -webkit-animation: spin3-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin3-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin3-contract 0.9s ease-out 1 backwards;
  -o-animation: spin3-contract 0.9s ease-out 1 backwards;
  animation: spin3-contract 0.9s ease-out 1 backwards;
}
/* line 157, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(4) a:not(.clicked) span {
  -webkit-animation: spin4-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin4-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin4-contract 0.9s ease-out 1 backwards;
  -o-animation: spin4-contract 0.9s ease-out 1 backwards;
  animation: spin4-contract 0.9s ease-out 1 backwards;
}
/* line 158, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(5) a:not(.clicked) span {
  -webkit-animation: spin5-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin5-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin5-contract 0.9s ease-out 1 backwards;
  -o-animation: spin5-contract 0.9s ease-out 1 backwards;
  animation: spin5-contract 0.9s ease-out 1 backwards;
}
/* line 159, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout li:nth-of-type(6) a:not(.clicked) span {
  -webkit-animation: spin6-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin6-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin6-contract 0.9s ease-out 1 backwards;
  -o-animation: spin6-contract 0.9s ease-out 1 backwards;
  animation: spin6-contract 0.9s ease-out 1 backwards;
}
/* line 160, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(1) a {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 161, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(2) a {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
/* line 162, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(3) a {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
/* line 163, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(4) a {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
/* line 164, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(5) a {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
/* line 165, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(6) a {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 166, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(1) a span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin1-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin1-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin1-expand 0.6s ease-out 1 backwards;
  -o-animation: spin1-expand 0.6s ease-out 1 backwards;
  animation: spin1-expand 0.6s ease-out 1 backwards;
}
/* line 167, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(2) a span {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
  -webkit-animation: spin2-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin2-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin2-expand 0.6s ease-out 1 backwards;
  -o-animation: spin2-expand 0.6s ease-out 1 backwards;
  animation: spin2-expand 0.6s ease-out 1 backwards;
}
/* line 168, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(3) a span {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
  -webkit-animation: spin3-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin3-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin3-expand 0.6s ease-out 1 backwards;
  -o-animation: spin3-expand 0.6s ease-out 1 backwards;
  animation: spin3-expand 0.6s ease-out 1 backwards;
}
/* line 169, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(4) a span {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
  -webkit-animation: spin4-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin4-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin4-expand 0.6s ease-out 1 backwards;
  -o-animation: spin4-expand 0.6s ease-out 1 backwards;
  animation: spin4-expand 0.6s ease-out 1 backwards;
}
/* line 170, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(5) a span {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
  -webkit-animation: spin5-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin5-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin5-expand 0.6s ease-out 1 backwards;
  -o-animation: spin5-expand 0.6s ease-out 1 backwards;
  animation: spin5-expand 0.6s ease-out 1 backwards;
}
/* line 171, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.expand li:nth-of-type(6) a span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: spin6-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin6-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin6-expand 0.6s ease-out 1 backwards;
  -o-animation: spin6-expand 0.6s ease-out 1 backwards;
  animation: spin6-expand 0.6s ease-out 1 backwards;
}
/* line 172, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(1) a.clicked span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 173, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(2) a.clicked span {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
/* line 174, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(3) a.clicked span {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
}
/* line 175, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(4) a.clicked span {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
/* line 176, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(5) a.clicked span {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
}
/* line 177, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout.fade li:nth-of-type(6) a.clicked span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 179, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.3) 0 0 0 1px, inset rgba(255, 255, 255, 0.3) 0 1px 0 1px;
  text-indent: -99999px;
  overflow: hidden;
  background: #f76f54;
  background: -webkit-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -moz-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -ms-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -o-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  z-index: 9999;
  outline: none;
}
/* line 201, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout-btn span {
  display: block;
  height: 36px;
  width: 36px;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px'><g><path fill='#fff' d='M20,11.402c0,0.453-0.367,0.82-0.822,0.82H0.82c-0.453,0-0.82-0.367-0.82-0.82V8.598 c0-0.454,0.367-0.821,0.82-0.821h18.357C19.633,7.776,20,8.144,20,8.598V11.402z'/><path fill='#fff' d='M8.598,20c-0.453,0-0.821-0.367-0.821-0.82V0.821c0-0.452,0.368-0.82,0.821-0.82h2.804 c0.453,0,0.82,0.368,0.82,0.82V19.18c0,0.453-0.367,0.82-0.82,0.82H8.598z'/></g></svg>") no-repeat center center;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  transition: transform .4s ease;
}
/* line 212, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .flyout-btn.btn-rotate span {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 217, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-expand 0% {
  top: 150px;
}
/* line 218, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-expand 50% {
  top: -10px;
}
/* line 219, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-expand 70% {
  top: 15px;
}
/* line 220, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-expand 100% {
  top: 10px;
}
/* line 223, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-contract 0% {
  top: 10px;
}
/* line 224, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-contract 40% {
  top: -25px;
}
/* line 225, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-contract 100% {
  top: 150px;
}
/* line 228, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-clicked 0% {
  -webkit-transform: scale(1);
  opacity: 1;
}
/* line 229, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-clicked 100% {
  -webkit-transform: scale(5);
  opacity: 0;
}
@-webkit-keyframes expand {
  /* line 217, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    top: 150px;
  }
  /* line 218, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    top: -10px;
  }
  /* line 219, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  70% {
    top: 15px;
  }
  /* line 220, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    top: 10px;
  }
}
@-moz-keyframes expand {
  /* line 217, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    top: 150px;
  }
  /* line 218, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    top: -10px;
  }
  /* line 219, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  70% {
    top: 15px;
  }
  /* line 220, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    top: 10px;
  }
}
@-webkit-keyframes contract {
  /* line 223, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    top: 10px;
  }
  /* line 224, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  40% {
    top: -25px;
  }
  /* line 225, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    top: 150px;
  }
}
@-moz-keyframes contract {
  /* line 223, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    top: 10px;
  }
  /* line 224, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  40% {
    top: -25px;
  }
  /* line 225, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    top: 150px;
  }
}
@-webkit-keyframes clicked {
  /* line 238, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  /* line 239, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  90% {
    top: 10px;
  }
  /* line 240, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  99% {
    -webkit-transform: scale(6);
    opacity: 0;
    top: 150px;
  }
  /* line 241, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes clicked {
  /* line 244, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -moz-transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  /* line 245, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  90% {
    top: 10px;
  }
  /* line 246, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  99% {
    -moz-transform: scale(6);
    opacity: 0;
    top: 150px;
  }
  /* line 247, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -moz-transform: scale(0);
  }
}
@-webkit-keyframes fade {
  /* line 251, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  /* line 252, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  90% {
    opacity: 0;
    top: 10px;
  }
  /* line 253, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  99% {
    -webkit-transform: scale(0);
    top: 150px;
  }
  /* line 254, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes fade {
  /* line 257, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -moz-transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  /* line 258, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  90% {
    opacity: 0;
    top: 10px;
  }
  /* line 259, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  99% {
    -moz-transform: scale(0);
    top: 150px;
  }
  /* line 260, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -moz-transform: scale(0);
  }
}
/* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-expand 0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-expand 60% {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
/* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-expand 100% {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
/* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-expand 0% {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
/* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-expand 60% {
  -webkit-transform: rotate(-378deg);
  -moz-transform: rotate(-378deg);
  -ms-transform: rotate(-378deg);
  -o-transform: rotate(-378deg);
  transform: rotate(-378deg);
}
/* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-expand 100% {
  -webkit-transform: rotate(-378deg);
  -moz-transform: rotate(-378deg);
  -ms-transform: rotate(-378deg);
  -o-transform: rotate(-378deg);
  transform: rotate(-378deg);
}
/* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-expand 0% {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
}
/* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-expand 60% {
  -webkit-transform: rotate(-396deg);
  -moz-transform: rotate(-396deg);
  -ms-transform: rotate(-396deg);
  -o-transform: rotate(-396deg);
  transform: rotate(-396deg);
}
/* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-expand 100% {
  -webkit-transform: rotate(-396deg);
  -moz-transform: rotate(-396deg);
  -ms-transform: rotate(-396deg);
  -o-transform: rotate(-396deg);
  transform: rotate(-396deg);
}
/* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-expand 0% {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
/* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-expand 60% {
  -webkit-transform: rotate(-414deg);
  -moz-transform: rotate(-414deg);
  -ms-transform: rotate(-414deg);
  -o-transform: rotate(-414deg);
  transform: rotate(-414deg);
}
/* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-expand 100% {
  -webkit-transform: rotate(-414deg);
  -moz-transform: rotate(-414deg);
  -ms-transform: rotate(-414deg);
  -o-transform: rotate(-414deg);
  transform: rotate(-414deg);
}
/* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-expand 0% {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
}
/* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-expand 60% {
  -webkit-transform: rotate(-432deg);
  -moz-transform: rotate(-432deg);
  -ms-transform: rotate(-432deg);
  -o-transform: rotate(-432deg);
  transform: rotate(-432deg);
}
/* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-expand 100% {
  -webkit-transform: rotate(-432deg);
  -moz-transform: rotate(-432deg);
  -ms-transform: rotate(-432deg);
  -o-transform: rotate(-432deg);
  transform: rotate(-432deg);
}
/* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-expand 0% {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-expand 60% {
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}
/* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-expand 100% {
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}
/* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-contract 0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin1-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-contract 0% {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
/* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin2-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-contract 0% {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
}
/* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin3-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-contract 0% {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
/* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin4-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-contract 0% {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
}
/* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin5-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-contract 0% {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
#testfield .flyout-wrap .ani-spin6-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
@-webkit-keyframes spin1-expand {
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin2-expand {
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-378deg);
    -moz-transform: rotate(-378deg);
    -ms-transform: rotate(-378deg);
    -o-transform: rotate(-378deg);
    transform: rotate(-378deg);
  }
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-378deg);
    -moz-transform: rotate(-378deg);
    -ms-transform: rotate(-378deg);
    -o-transform: rotate(-378deg);
    transform: rotate(-378deg);
  }
}
@-webkit-keyframes spin3-expand {
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
  }
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-396deg);
    -moz-transform: rotate(-396deg);
    -ms-transform: rotate(-396deg);
    -o-transform: rotate(-396deg);
    transform: rotate(-396deg);
  }
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-396deg);
    -moz-transform: rotate(-396deg);
    -ms-transform: rotate(-396deg);
    -o-transform: rotate(-396deg);
    transform: rotate(-396deg);
  }
}
@-webkit-keyframes spin4-expand {
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg);
  }
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-414deg);
    -moz-transform: rotate(-414deg);
    -ms-transform: rotate(-414deg);
    -o-transform: rotate(-414deg);
    transform: rotate(-414deg);
  }
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-414deg);
    -moz-transform: rotate(-414deg);
    -ms-transform: rotate(-414deg);
    -o-transform: rotate(-414deg);
    transform: rotate(-414deg);
  }
}
@-webkit-keyframes spin5-expand {
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-432deg);
    -moz-transform: rotate(-432deg);
    -ms-transform: rotate(-432deg);
    -o-transform: rotate(-432deg);
    transform: rotate(-432deg);
  }
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-432deg);
    -moz-transform: rotate(-432deg);
    -ms-transform: rotate(-432deg);
    -o-transform: rotate(-432deg);
    transform: rotate(-432deg);
  }
}
@-webkit-keyframes spin6-expand {
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
}
@-moz-keyframes spin1-expand {
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  /* line 263, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes spin2-expand {
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-378deg);
    -moz-transform: rotate(-378deg);
    -ms-transform: rotate(-378deg);
    -o-transform: rotate(-378deg);
    transform: rotate(-378deg);
  }
  /* line 264, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-378deg);
    -moz-transform: rotate(-378deg);
    -ms-transform: rotate(-378deg);
    -o-transform: rotate(-378deg);
    transform: rotate(-378deg);
  }
}
@-moz-keyframes spin3-expand {
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
  }
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-396deg);
    -moz-transform: rotate(-396deg);
    -ms-transform: rotate(-396deg);
    -o-transform: rotate(-396deg);
    transform: rotate(-396deg);
  }
  /* line 265, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-396deg);
    -moz-transform: rotate(-396deg);
    -ms-transform: rotate(-396deg);
    -o-transform: rotate(-396deg);
    transform: rotate(-396deg);
  }
}
@-moz-keyframes spin4-expand {
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg);
  }
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-414deg);
    -moz-transform: rotate(-414deg);
    -ms-transform: rotate(-414deg);
    -o-transform: rotate(-414deg);
    transform: rotate(-414deg);
  }
  /* line 266, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-414deg);
    -moz-transform: rotate(-414deg);
    -ms-transform: rotate(-414deg);
    -o-transform: rotate(-414deg);
    transform: rotate(-414deg);
  }
}
@-moz-keyframes spin5-expand {
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-432deg);
    -moz-transform: rotate(-432deg);
    -ms-transform: rotate(-432deg);
    -o-transform: rotate(-432deg);
    transform: rotate(-432deg);
  }
  /* line 267, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-432deg);
    -moz-transform: rotate(-432deg);
    -ms-transform: rotate(-432deg);
    -o-transform: rotate(-432deg);
    transform: rotate(-432deg);
  }
}
@-moz-keyframes spin6-expand {
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  60% {
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
  /* line 268, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
}
@-webkit-keyframes spin1-contract {
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2-contract {
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin3-contract {
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
  }
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin4-contract {
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg);
  }
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin5-contract {
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin6-contract {
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin1-contract {
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 269, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin2-contract {
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 270, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin3-contract {
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
  }
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 271, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin4-contract {
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg);
  }
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 272, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin5-contract {
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 273, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin6-contract {
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  0% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /* line 274, /Users/sparanoid/Git/path-menu/assets/less/main.less */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 303, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsap {
  position: fixed;
  top: 0;
  right: 0;
  width: 130px;
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 313, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsap:hover {
  background: rgba(255, 255, 255, 0.95);
}
/* line 314, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsap a {
  color: #555;
}
/* line 315, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsap a:hover {
  color: #000;
}
/* line 316, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsa_it_t {
  font-size: 14px;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 322, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsa_it_d {
  font-size: 12px;
  display: block;
  padding: 5px 0;
}
/* line 327, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsa_it_p {
  font-size: 10px;
}
/* line 328, /Users/sparanoid/Git/path-menu/assets/less/main.less */
.bsa_it_p a {
  opacity: .5;
}
